{% extends "AcmeDemoBundle::layout.html.twig" %}

{% block title "Blog - Index" %}

{% block content_header '' %}

{% block content %}
    <h1>Index</h1>
	{% for post in posts %}        
		
    {% endfor %}
{% endblock %}
