{% extends "AcmeBlogBundle::layout.html.twig" %}

{% block title "Blog - Home" %}

{% block blog_name %}	
	<div><h1>Home</h1>  </div> 
{% endblock %}

{% block content_header '' %}


{% block menu %}

<div>
	<a href="{{ path('new_blog') }}">
		  Nuevo Blog
	</a>
</div>

{% endblock %}

{% block content %}    
	{% for blog in blogs %}        
		<a href="{{ path('index_blog', { 'blog': blog.blogName }) }}">
		  {{ blog.blogName }}
		</a>
    {% endfor %}
{% endblock %}
