{% extends "AcmeBlogBundle::admin_layout.html.twig" %}

{% block title "Blog - Index" %}

{% block content_header '' %}

{% block content %}
    <form action="{{ path('save_post') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" />
	</form>
		
{% endblock %}
