{% extends 'SonataAdminBundle::standard_layout.html.twig' %}
{% block title %}
   Importar Comprobante en XML
{% endblock%}
{% block form %}


<form method="POST" enctype="multipart/form-data" action="{{ path('AcmeFacturacionBundle_importar') }}" >
	<input type="file" name="comprobante" /><br/>
	
	<div class="actions">
		<input class="btn primary" type="submit" value="importar"	/>
	</div>
</form>
{% endblock %}