<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns:expr="http://www.google.com/2005/gml/expr" xmlns:data=
"http://www.google.com/2005/gml/data" xmlns:b="http://www.google.com/2005/gml/b" xmlns=
"http://www.w3.org/1999/xhtml" dir="ltr">
<head>
  <meta name="generator" content=
  "HTML Tidy for Linux/x86 (vers 11 February 2007), see www.w3.org" />
  <meta http-equiv="Content-Type" content="text/html; charset=us-ascii" />
  <script type="text/javascript">
//<![CDATA[
        /*(function() { 
                var a=window;function c(b){this.t={};this.tick=function(b,i,d){d=void 0!=d?d:(new Date).getTime();this.t[b]=[d,i]};this.tick("start",null,b)}var f=new c;a.jstiming={Timer:c,load:f};try{var g=null;a.chrome&amp;&amp;a.chrome.csi&amp;&amp;(g=Math.floor(a.chrome.csi().pageT));null==g&amp;&amp;a.gtbExternal&amp;&amp;(g=a.gtbExternal.pageT());null==g&amp;&amp;a.external&amp;&amp;(g=a.external.pageT);g&amp;&amp;(a.jstiming.pt=g)}catch(h){};a.tickAboveFold=function(b){var e=0;if(b.offsetParent){do e+=b.offsetTop;while(b=b.offsetParent)}b=e;750&gt;=b&amp;&amp;a.jstiming.load.tick("aft")};var j=!1;function k(){j||(j=!0,a.jstiming.load.tick("firstScrollTime"))}a.addEventListener?a.addEventListener("scroll",k,!1):a.attachEvent("onscroll",k);
        })();*/
  //]]>
  </script>
  <meta name="MSSmartTagsPreventParsing" content="true" />
  <meta name="generator" content="blogger" />
  <link type="image/x-icon" rel="icon" href=
  "http://brandnewday-btemplates.blogspot.com/favicon.ico" />
  <link rel="canonical" href="http://brandnewday-btemplates.blogspot.com/" />
  <link href="http://brandnewday-btemplates.blogspot.com/feeds/posts/default" title=
  "Brand New Day - Atom" type="application/atom+xml" rel="alternate" />
  <link href="http://brandnewday-btemplates.blogspot.com/feeds/posts/default?alt=rss"
  title="Brand New Day - RSS" type="application/rss+xml" rel="alternate" />
  <link href="http://www.blogger.com/feeds/301462920102250250/posts/default" title=
  "Brand New Day - Atom" type="application/atom+xml" rel="service.post" />
  <link href="http://www.blogger.com/rsd.g?blogID=301462920102250250" title="RSD" type=
  "application/rsd+xml" rel="EditURI" />
  <link href="http://www.blogger.com/openid-server.g" rel="openid.server" />
  <!--[if IE]> <script> (function() { var html5 = ("abbr,article,aside,audio,canvas,datalist,details," + "figure,footer,header,hgroup,mark,menu,meter,nav,output," + "progress,section,time,video").split(','); for (var i = 0; i < html5.length; i++) { document.createElement(html5[i]); } try { document.execCommand('BackgroundImageCache', false, true); } catch(e) {} })(); </script> <![endif]-->
  <!-- SEO Title -->

  <title>Brand New Day</title>
  <link href="http://www.blogger.com/static/v1/widgets/2379105512-widget_css_bundle.css"
  rel="stylesheet" type="text/css" />
  <link href=
  "http://www.blogger.com/dyn-css/authorization.css?targetBlogID=301462920102250250&amp;zx=cf3ae9a6-5c33-42a7-a9e6-52e9e439e4ad"
  rel="stylesheet" type="text/css" />
  {% block stylesheets %}
  {% endblock %}
  <style type="text/css">
/*<![CDATA[*/
  #navbar-iframe { display:block }
  /*]]>*/
  </style>
  <style type="text/css" id="page-skin-1">
/*<![CDATA[*/
  <!--
  /*
  /* **************************
  Name: Brand New Day
  Designer: Caroline Moore
  Designer URI: URI: http://www.carolinemoore.net
  Coder:      Blog and Web / BTemplates
  Coder URI:  http://blogandweb.com/
  http://btemplates.com/
  Date: Sep 3 2011
  License: CC0 1.0 Universal
  License URI: http://creativecommons.org/publicdomain/zero/1.0/legalcode
  *****************************
  *//* Variable definitions
  ====================
  &lt;Variable name="textcolor" description="Text Color" type="color" default="#555"&gt;
  &lt;Variable name="linkcolor" description="Link Color" type="color" default="#55bac6"&gt;
  &lt;Variable name="pagetitlecolor" description="Blog Title Color" type="color" default="#55bac6"&gt;
  &lt;Variable name="descriptioncolor" description="Blog Description Color" type="color" default="#fff"&gt;
  &lt;Variable name="titlecolor" description="Post Title Color" type="color" default="#f9b20c"&gt;
  &lt;Variable name="sidebarcolor" description="Sidebar Title Color" type="color" default="#55bac6"&gt;
  */
  a:hover, a:active {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  }
  body, td, th {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 21px;
  }
  body {
  margin: 0px;
  padding: 0px;
  background-repeat: repeat-x;
  }
  hr {
  clear: both;
  width: 80%;
  height: 1px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: block;
  }
  table,
  td,
  th {
  vertical-align: top;
  padding: 5px;
  }
  th {
  font-weight: bold;
  text-align: center;
  }
  .sticky {
  }
  .wrapper {
  width: 1000px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  }
  /* =Posts
  --------------------------------------------------------------*/
  .content {
  float: left;
  clear: left;
  position: relative;
  width: 770px;
  z-index: 15;
  margin-bottom: 50px;
  min-height: 560px;
  }
  .left-sidebar .content {
  float: right;
  clear: right;
  }
  .left-sidebar .post {
  clear: none;
  }
  .left-sidebar .post-sidebar {
  float: right;
  margin-right: 0px;
  margin-left: 30px;
  }
  .left-sidebar.search .page {
  clear: none;
  }
  .navigation {
  clear: both;
  width: 100%;
  display: inline-block;
  margin-bottom: 20px;
  }
  .navigation .alignleft,
  .navigation .alignright {
  width: 50%;
  }
  .navigation .alignright {
  text-align: right;
  }
  .no-right-sidebar.archive .post,
  .no-right-sidebar.archive .page,
  .no-right-sidebar.blog .post,
  .no-right-sidebar.blog .page,
  .no-right-sidebar.search .post,
  .no-right-sidebar.search .page {
  width: 870px;
  }
  .no-right-sidebar .post,
  .no-right-sidebar .content {
  width: 100%;
  }
  .page .post,
  .single .post {
  width: 100%;
  }
  .page-template-page-nosidebar-php .post,
  .page-template-page-nosidebar-php .content,
  {
  width: 100%;
  }
  .page_title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
  line-height: normal;
  }
  .page_title a:link,
  .page_title a:visited {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 10px;
  }
  .post {
  float: left;
  width: 630px;
  clear: right;
  }
  .post-categories {
  clear: both;
  width: 100%;
  display: inline-block;
  }
  .post-categories a:link,
  .post-categories a:visited {
  height: 20px;
  display: block;
  color: #fff;
  font-weight: normal;
  font-size: 11px;
  text-transform: uppercase;
  border-radius: 3px;
  text-align: center;
  width: auto;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
  font-style: normal;
  margin-right: 5px;
  margin-bottom: 5px;
  }
  .post-comments span,
  .post-comments a:link,
  .post-comments a:visited {
  width: 100px;
  min-height: 20px;
  height: auto;
  display: block;
  color: #fff;
  font-weight: normal;
  font-size: 11px;
  text-transform: uppercase;
  border-radius: 3px;
  text-align: center;
  clear: both;
  }
  .post-date {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  font-family: Georgia, 'Times New Roman', serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-right: 25px;
  }
  .post-date span {
  display: block;
  width: 100%;
  height: 100%;
  font-family: Georgia, 'Times New Roman', serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  }
  .post-day {
  display: block;
  clear: both;
  font-size: 28px;
  line-height: 16px;
  }
  .postmetadata,
  .form-allowed-tags {
  font-style: italic;
  font-size: 12px;
  }
  .post-month {
  padding-top: 25px;
  display: block;
  font-size: 16px;
  }
  .post-sidebar {
  width: 100px;
  float: left;
  margin-right: 30px;
  clear: left;
  margin-bottom: 30px;
  }
  .search .page {
  width: 630px;
  clear: right;
  float: left;
  }
  .single .post-date {
  float: right;
  margin-left: 25px;
  margin-bottom: 25px;
  }
  small,
  .commentmetadata {
  text-transform: uppercase;
  font-size: 11px;
  margin-bottom: 5px;
  }
  /* End Posts */
  /* =Right Sidebar
  --------------------------------------------------------------*/
  #sidebar h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  font-style: italic;
  line-height: normal;
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 15px;
  }
  .left-sidebar #sidebar {
  float: left;
  }
  #sidebar .widget ul li {
  list-style: disc;
  }
  #sidebar ul li a:link,
  #sidebar ul li a:visited,
  #sidebar ul li a:hover,
  #sidebar ul li a:active {
  font-weight: normal;
  }
  #sidebar {
  float: right;
  width: 210px;
  margin: 0px;
  list-style: none;
  padding: 0px;
  display: block;
  line-height: 18px;
  font-size: 12px;
  position: relative;
  z-index: 10;
  }
  .widget {
  margin-bottom: 20px;
  display: block;
  }
  /* End Right Sidebar */
  /* =Header
  --------------------------------------------------------------*/
  .clouds {
  background-repeat: repeat-x;
  background-position: -15px;
  height:154px;
  width: 100%;
  position: relative;
  clear: both;
  top: -60px;
  }
  .header {
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-top: -10px;
  padding: 0px;
  display: inline-block;
  z-index: 25;
  position: relative;
  }
  .tagline {
  font-style:italic;
  font-size: 21px;
  font-family: Georgia, 'Times New Roman', serif;
  margin-top: 7px;
  float: left;
  clear: left;
  position: relative;
  font-weight: normal;
  display: block;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 20px;
  }
  .blogtitle, .blogtitle a:link, .blogtitle a:visited {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 55px;
  font-weight: bold;
  position: relative;
  letter-spacing: -4px;
  float: left;
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  }
  #search {
  width: 198px;
  border-radius: 10px;
  height: 24px;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  display: block;
  float: right;
  text-align: center;
  padding: 6px;
  position: relative;
  margin-left: 20px;
  margin-right: 0px;
  }
  /* End Header */
  /* =Footer
  --------------------------------------------------------------*/
  .footer-wrapper {
  height: auto;
  clear: both;
  position: relative;
  padding: 0px;
  margin: 0px;
  font-size: 12px;
  line-height: 18px;
  }
  .footer-grass {
  width: 100%;
  clear: both;
  position: relative;
  padding: 0px;
  margin: 0px;
  height: 49px;
  background-repeat: repeat-x;
  }
  .footer-colophon {
  text-align: center;
  font-size: 11px;
  position: relative;
  width: 100%;
  clear: both;
  padding-bottom: 30px;
  padding-top: 30px;
  margin: 0px;
  z-index: 50;
  }
  .footer-sidebar-wrapper {
  width: 100%;
  display: inline;
  z-index: 50;
  }
  #footer-sidebar {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  z-index: 50;
  }
  #footer-sidebar ul {
  padding-left: 20px;
  }
  .footer-widget {
  width: 21%;
  margin-left: 2%;
  margin-right: 2%;
  float: left;
  }
  h3.footer-widgettitle,
  h3.footer-widgettitle a:link,
  h3.footer-widgettitle a:visited {
  font-family: Georgia, 'Times New Roman', serif;
  font-style: italic;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  }
  /* End Footer */
  /* =Images
  --------------------------------------------------------------*/
  .entry img {
  max-width: 600px;
  height: auto;
  }
  a img {
  border: none 0px;
  }
  /* End Images */
  /* =Comments
  --------------------------------------------------------------*/
  .avatar {
  float: right;
  margin-left: 5px;
  margin-bottom: 5px;
  }
  ul.children li {
  list-style: none;
  list-style-type: none;
  }
  li.comment:nth-child(even)
  {
  background-color: #CAEDF1;
  }
  li.comment,
  li.pingback {
  padding: 10px;
  border-radius: 10px;
  width: 95%;
  margin-bottom: 15px;
  }
  .says {
  font-style: italic;
  }
  cite {
  font-weight: bold;
  }
  /* End Comments */
  /* Daylight */
  a:link, a:visited {
  text-decoration: none;
  font-weight: bold;
  color: #55bac6;
  }
  body, th, td {
  color: #555555;
  }
  body {
  background-color: #dcf5f8;
  background-image:url('http://1.bp.blogspot.com/-o-yi06lrxJw/TmL-qST1zAI/AAAAAAAAFtk/wVzkL4rBA-s/s000/sky.gif');
  }
  h1,h2,h3,h4,h5,h6 {
  color: #55bac6;
  }
  h3.footer-widgettitle,
  h3.footer-widgettitle a,
  h3.footer-widgettitle a:visited {
  color: #4b9952;
  }
  #sidebar .widget h2 {
  color: #55bac6;
  }
  hr {
  border-bottom-color: #caedf1;
  }
  table,
  td,
  th {
  border: 1px solid #333;
  }
  th {
  background-color: #55bac6;
  color: #fff;
  }
  .alt {
  background-color: #caedf1;
  }
  .bypostauthor {
  background-color: #caedf1;
  }
  .clouds {
  background-image:url('http://2.bp.blogspot.com/-lhZBQJ29Kv4/TmL-qlXs7KI/AAAAAAAAFto/hIT0OkWyljI/s000/swirls.png');
  background-color: #bfebef;
  }
  .post-comments a:hover,
  .post-categories a:hover {
  background-color: #ffc641;
  }
  .footer-wrapper {
  color: #fff;
  }
  .footer-wrapper a,
  .footer-wrapper a:visited,
  .footer-wrapper a:hover,
  .footer-wrapper a:active {
  color: #fff;
  }
  .footer-grass {
  background-image:url('http://4.bp.blogspot.com/-m4PPlsgX0pw/TmL-qnrKMRI/AAAAAAAAFts/XxzDRi5aCJ0/s000/grass.png');
  z-index: 50;
  }
  .footer-colophon {
  background-color: #63be6a;
  }
  .footer-sidebar-wrapper {
  background-color: #63be6a;
  }
  .left-sidebar .sun {
  right: 100px;
  left: auto;
  }
  .page_title {
  color: #f9b20c;
  }
  .page_title a, .page_title a:visited {
  color: #f9b20c;
  }
  .page_title a:hover,
  .page_title a:active {
  color: #ffc641;
  }
  .post-categories a {
  background-color: #ffc641;
  }
  .post-comments span,
  .post-comments a {
  background-color: #55bac6;
  }
  .post-date {
  background-image:url('http://3.bp.blogspot.com/-bAIbPFLKB7E/TmL-q-IKpPI/AAAAAAAAFtw/Bkp7-kiNP6E/s000/cloud.png');
  color: #55bac6;
  }
  .post-date a,
  .post-date a:visited,
  .post-date a:hover,
  .post-date a:active {
  color: #55bac6;
  }
  small,
  .commentmetadata {
  color: #55bac6;
  }
  .tagline {
  color: #ffffff;
  }
  .blogtitle, .blogtitle a, .blogtitle a:visited {
  color: #55bac6;
  }
  #search {
  background-color: #ffc641;
  }
  #sidebar #wp-calendar {
  border: 1px solid #55bac6;
  }
  .sun {
  width: 403px;
  height: 191px;
  background-image:url('http://4.bp.blogspot.com/-RDkYUfKDYz0/TmL-rIpePtI/AAAAAAAAFt0/_KX_1WhCX90/s000/sun.png');
  background-repeat: no-repeat;
  position: absolute;
  z-index: 10;
  top: -170px;
  left: 100px;
  }
  #sidebar .PageList {
  margin: 0;
  padding: 0;
  }
  #sidebar .PageList:first-child h2 {
  display:none;
  }
  #sidebar .PageList ul {
  list-style: none;
  margin: 0;
  padding: 0;
  }
  #sidebar .PageList li {
  margin: 0;
  padding: 0;
  list-style: none !important;
  }
  #sidebar .PageList li a {
  background-color: #55BAC6;
  border-radius: 10px 10px 10px 10px;
  color: #FFFFFF;
  display: block;
  font-family: Georgia,"Times New Roman",Times,serif;
  font-size: 16px;
  font-style: italic;
  font-weight: bold;
  list-style: none outside none;
  margin-bottom: 10px;
  padding: 8px;
  text-align: left;
  width: 194px;
  }
  #sidebar .PageList li a:hover, #sidebar .PageList li.selected a {
  background-color: #FFC641;
  }
  .clear {clear:both;}
  .clearfix:after {clear:both;content:'.';display:block;visibility:hidden;height:0;}
  .clearfix {display:inline-block;}
  .comment-form {max-width:95% !important;}
  * html .clearfix {height:1%;}
  .clearfix {display:block;}
  #blog-pager-newer-link {float:left;}
  #blog-pager-older-link {float:right;}
  #blog-pager {text-align:center;clear: both;}
  #navbar-iframe, #navbar, .feed-links {height:0px;visibility:hidden;display:none;}
  body#layout #content-wrapper {margin: 0px;}
  body#layout #footer-wrapper, body#layout #search {display:none;}

  -->
  /*]]>*/
  </style>
  <script type="text/javascript">
//<![CDATA[
  function killLightbox() {
  var images = document.getElementsByTagName('img');
  for (var i = 0 ; i < images.length ; ++i) {
  images[i].onmousemove=function() {
   var html = this.parentNode.innerHTML;
   this.parentNode.innerHTML = html;
  };
  }
  }

  if (window.addEventListener) {
  window.addEventListener('load',killLightbox,false);
  } else {
  window.attachEvent('onload',killLightbox);
  }
  //]]>
  </script>
  <script type="text/javascript">
//<![CDATA[
  if (window.jstiming) window.jstiming.load.tick('headEnd');
  //]]>
  </script>
  <script type="text/javascript">
  //<![CDATA[
    var ultimaFecha;
    function escribe_fecha(d){
        if (d == '') {
                d = ultimaFecha;
         }
        var da = d.split(' ');
        dia = "<div class='post-day'>"+da[0]+"<\/div>";
        mes = "<div class='post-month'>"+da[1].slice(0,3)+"<\/div>";
        document.write(mes+dia);
        ultimaFecha = d;		
    }
    //]]>
  </script>
</head>

<body>
  <div class="clouds"></div><!-- Wrapper -->

  <div id="outer-wrapper" class="wrapper">
    <div id="wrap2" class="wrap2">
      <!-- skip links for text browsers -->
       <span style="display:none;" id="skiplinks"><a href="#main">skip to main</a> |
      <a href="#sidebar">skip to sidebar</a></span> <!-- Header -->

      <div id="header-wrapper" class="header">
        <div id="header" class="header1 section">
          <div id="Header1" class="widget Header">
            <div id="header-inner">
              <div class="titlewrapper">
                <h1 class="blogtitle"><a href=
                "{{ path('blog_home') }}">{% block blog_name %}{% endblock %}</a></h1>
              </div>

              <div id="descriptionwrapper" class="descriptionwrapper">
                <p id="description" class="tagline"><span>BTemplates is Blogger
                templates.</span></p>
              </div>
            </div>
          </div>
        </div>

        <div id="search">
          <form method="get" id="searchform" action=
          "http://brandnewday-btemplates.blogspot.com/search/" name="searchform">
            <label for="s" class="assistive-text">Search:</label> <input type="text"
            size="8" name="q" id="s" class="field" /><input type="submit" value="Go"
            name="submit" id="searchsubmit" class="submit" />
          </form>
        </div>
      </div><!-- /Header -->
      <!-- Content wrapper -->

      <div id="content-wrapper" class="content-wrapper">
        <!-- Main -->

        <div id="main-wrapper" class="main-wrapper">
		  {#% block menu %}{% endblock %#}
          <div id="content" class="content section">
				
                {% block content %}
                {% endblock %}
				
          </div>
        </div><!-- /Main -->
        <!-- Sidebar -->

        <div id="sidebar-wrapper" class="sidebar-wrapper">
          <div id="sidebar" class="sidebar section">
            <div id="PageList99" class="widget PageList">
              <h2>Menu</h2>

              <div class="widget-content">
                <ul>
                  <li class="selected"><a href=
                  "{{ path('blog_home') }}">Home</a></li>

                  <li><a href=
                  "http://brandnewday-btemplates.blogspot.com/p/about.html">About</a></li>

                  <li><a href=
                  "http://brandnewday-btemplates.blogspot.com/p/contact.html">Categor&iacute;as</a></li>
                </ul>                
                <div class="clear"></div>
              </div>
            </div>          
        </div><!-- /Sidebar -->
        <!-- spacer for skins that want sidebar and main to be the same height-->

        <div class="clear">
          &nbsp;
        </div>
      </div><!-- /Content wrapper -->
    </div><!-- /Wrap2 -->
  </div><!-- /Outer-wrapper -->
  <!-- Footer -->
</div>
  <div id="footer-wrapper" class="footer-wrapper">
    <div class="footer-wrapper">
      <div class="sun"></div>

      <div class="trees"></div>

      <div class="stars"></div>

      <div class="footer-grass"></div>

      <div class="footer-sidebar-wrapper">
        <ul id="footer-sidebar" class="footer-sidebar"></ul>
      </div>

      <div id="footer-colophon" class="footer-colophon">
        <p id="footer-credits" class="footer-credits">&copy; <script type=
        "text/javascript">
//<![CDATA[
        var d = new Date();document.write(d.getFullYear());
        //]]>
        </script>2012 <a href="http://brandnewday-btemplates.blogspot.com/">Brand New
        Day</a> - Designed by <a href="URI:%20http://www.carolinemoore.net">Caroline
        Moore</a>, <a href="http://btemplates.com">Blogger templates</a> by <a href=
        "http://blogandweb.com">Blog and Web</a>.</p>
      </div>
    </div>
 </div><!-- /Footer -->
</body>
</html>
