<IfModule mod_rewrite.c>
    RewriteEngine On
	RewriteRule ^/?$ /bussiness/index.html [NC,L] # Handle requests for "pet-care	
	RewriteRule ^js/?$ /bussiness/js/ [NC,L] # Handle requests for "pet-care	
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ app.php [QSA,L]
</IfModule>
