<IfModule mod_rewrite.c>
    RewriteEngine On
	RewriteRule ^facturacion.html /bussiness/facturacion.html [NC,L] # Handle requests for "pet-care	
	RewriteRule ^Productos.html /bussiness/Productos.html [NC,L] # Handle requests for "pet-care	
	RewriteRule ^index.html /bussiness/index.html [NC,L] # Handle requests for "pet-care	
	RewriteRule ^Contacts.html /bussiness/Contacts.html [NC,L] # Handle requests for "pet-care	
	RewriteRule ^About.html /bussiness/About.html [NC,L] # Handle requests for "pet-care	
	RewriteRule ^Sitemap.html /bussiness/Sitemap.html [NC,L] # Handle requests for "pet-care		
	RewriteRule ^/?$ /bussiness/index.html [NC,L] # Handle requests for "pet-care		
	RewriteRule ^js/?$ /bussiness/js/ [NC,L] # Handle requests for "pet-care	
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ app.php [QSA,L]
</IfModule>
